.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . src src src . ."
    ". . src src src . ."
    ". . controls controls controls . ."
    "HorThick HorThick HorThick . HorSmall HorSmall HorSmall"
    "HorThick HorThick HorThick . HorSmall HorSmall HorSmall"
    "VerThick VerThick VerThick . VetSmall VetSmall VetSmall"
    "VerThick VerThick VerThick . VetSmall VetSmall VetSmall"
    "GlovalThick GlovalThick GlovalThick . GlovalSmall GlovalSmall GlovalSmall"
    "GlovalThick GlovalThick GlovalThick . GlovalSmall GlovalSmall GlovalSmall"; 
  align-items: center; 
}
.src { grid-area: src; }
.HorThick { grid-area: HorThick; }
.HorSmall { grid-area: HorSmall; }
.controls { grid-area: controls; }
.VetSmall { grid-area: VetSmall; }
.GlovalSmall { grid-area: GlovalSmall; }
.VerThick { grid-area: VerThick; }
.GlovalThick { grid-area: GlovalThick; }

html, body , .container {
  height: 120%;
  margin: 0;
}
  
/* For presentation only, no need to copy the code below */

.container * {
  border: 1px solid red;
}
/* 
.container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
 */
canvas{
  height: 100%;
  width: 100%;
}